.footer-deco {
    background-image: url(../img/footer_bottom_decoration_img.png);
    height: 20px;
    position: absolute;
    top: -5px;
    width: 100%;
    background-repeat: repeat-x;
    background-position: center;
    z-index: 1031;
}

footer {
    background-image: url(../img/footer_background.jpg);
    height: auto;
    background-attachment: fixed;

}

.last {
    background-color: $chef-red;
    height: 12vh;
}

.tags-text {
    button {
        margin: 4px;
    }
}

.gap-test {
    gap: 5px;
}