main {
    .bg-img {
        background-image: url(../img/banner1.jpg);
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.69);
        display: flex;
        justify-content: center;
        align-items: center;

        .banner-content {
            width: 50%;
            font-family: "courgette";
            text-align: center;

            .banner-text {
                color: white;

                @media (max-width: 768px) {
                    font-size: 2rem;
                    margin-top: 4rem;
                }
            }

            .banner-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                button {
                    padding: 10px;
                }
            }
        }
    }

    .menu {
        background-image: url(../img/main_bg.jpg);
        height: 100vh;

        .menu-paper {
            height: 100%; 

            h1 {
                font-family: "courgette";
            }
            .form-bg-img{
                background-image: url(../img/book_table_bg.jpg);
                height: auto;
                background-size: cover;
            }
            
        }
    }

    .chefs {
        margin-top: 20px;
        background-image: url(../img/team_background.jpg);
        height: auto;
        background-position: center;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.69);

        .chefs-text {
            font-family: "courgette";
        }
    }
}

.big-text {
    font-size: 4rem;

    @media (max-width: 768px) {
        font-size: 2rem;
    }
}

input{
    padding: 12px;
}
