main {
    .bg-img {
        background-image: url(../img/banner1.jpg);
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.69);
        // To center the banner content
        display: flex;
        justify-content: center;
        align-items: center;

        .banner-content {
            width: 50%;
            text-align: center;

            .banner-text {
                font-family: "courgette";
                color: white;

                @media (max-width: 768px) {
                    font-size: 2rem;
                    margin-top: 4rem;
                }
            }

            .banner-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-family: "roboto";

                button {
                    padding: 10px;
                }
            }
        }
    }

    .menu {
        background-image: url(../img/main_bg.jpg);
        height: auto;

        .menu-paper {
            height: auto;
            background-color: #fff;

            h1 {
                font-family: "courgette";
            }

            .tab-section {
                div {
                    .list-group {
                        .active {
                            background-color: white;
                            color: #2b2b2b;
                            border: 1px solid $chef-red;
                            border-right: solid 7px $chef-red;
                            padding: 0;
                            color: $chef-red;
                        }

                    }
                }
            }

            .form-bg-img {
                background-image: url(../img/book_table_bg.jpg);
                height: auto;
                background-size: cover;
            }

        }
    }

    .chefs {
        margin-top: 20px;
        background-image: url(../img/team_background.jpg);
        height: auto;
        background-position: center;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.69);

        .chef {
            img {
                border-bottom: 2px solid gray;
            }
        }

        .chefs-text {
            font-family: "courgette";
        }
    }

    .testimonials {
        background-image: url(../img/testimonials_background.jpg);
        height: auto;

        h1 {
            font-family: "courgette";
        }
    }

    .contact {
        background-image: url(../img/main_bg.jpg);
        height: auto;

        .title {
            font-family: "courgette";
        }

        .contact-info {
            width: 30%;

            @media (max-width: 768px) {
                width: 80%;
            }

        }
    }
}

.big-text {
    font-size: 4rem;

    @media (max-width: 768px) {
        font-size: 2rem;
    }
}

.bottom-deco {
    background-image: url(../img/bottom_decoration_img.png);
    height: 20px;
    position: absolute;
    bottom: -5px;
    width: 100%;
    background-repeat: repeat-x;
    background-position: center;
}

input {
    padding: 12px;
}

.card-comment {
    background-color: $chef-red;
    padding: 20px;
    color: white;
    display: block;
    width: 90%;
    border-radius: 15px;
}

[src="./public/img/blog_img2.jpg"],
[src="./public/img/blog_img1.jpg"] {
    border: 5px solid rgb(175, 175, 175);
    border-radius: 15px;
}

hr {
    width: 90%;
    background-color: #ffffff;
    height: 2px;
}

.money {
    padding: 4px;
}